<!DOCTYPE html>
<html lang="en">

<head>

    {{>head}}

<body>
    <!-- ==================Navigation Started================================== -->
    {{>navbar}}
    <!-- ==========================Navigatioin Ended================================ -->
    <!-- ==========================About Start================================ -->
    <div class="container row justify-content-center mx-auto">
        <div class="col-11 col-md-8 my-3">
            <h1 class="text-center">Transaction Details</span></h1>
            <table class="table table-sm table-striped border table-hover">
                <thead>
                    <tr>
                        <th scope="col">Parameter</th>
                        <th scope="col">Value</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>Txn ID</td>
                        <td>{{data.id}}</td>

                    </tr>
                    <tr>
                        <td>Txn Method</td>
                        <td>{{data.method}}</td>
                    </tr>
                    <tr>
                        <td>Txn Amount</td>
                        <td>{{amount}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{data.status}}</td>
                    </tr>
                    <tr>
                        <td>Error</td>
                        <td>{{data.error_description}}</td>
                    </tr>
                    

                </tbody>
            </table>

        </div>
        <div class="col-11 col-md-8 text-center"><a href="/" class="btn border ">Go Home</a></div>
        



    </div>


    <!-- ==========================About Ended================================ -->



    {{>footer}}
    {{>cdnscript}}

</body>

</html>